.form-container {
    margin: 25px;
    font-size: 1.5em;

}

.inputs-box {
    margin: 5px 15px;
    height: 30px;
}

.payment-info {
    margin: 25px 0;
    
}

.checkoutButton {
    border-radius: 10px;
    margin: 15px;
    background-color: rgb(101, 13, 138);
    color: whitesmoke;
}

.checkoutButton:hover {
    color:rgb(255, 236, 158)
}