.cart-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 3%;
    
}

.item-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
    padding: 10px;
    border-bottom: 1px solid rgb(182, 182, 182);
}

.item-info {
    padding: 15px;
}

.item-cartsm-img {
    display: inline;
    width: 75px;
    height: 60px;
}

.remove-btn {
    height: 30px;

}

.cartTotals {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.totals-info {
    padding-right: 20px;
}

.item-btn:hover {
    background-color: #f7fafa;
  }
  
  .item-btn:focus {
    border-color: #008296;
    box-shadow: rgba(213, 217, 217, .5) 0 2px 5px 0;
    outline: 0;
  }