@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed&display=swap');


.nav-bar {
    display: flex;
    background-color: whitesmoke; 
    height: 10vh;
    box-shadow: rgba(213, 217, 217, .5) 0 5px 5px 0;
}

.store-name {
    color: rgb(101, 13, 138);
    font-size: 175%;
    font-family: 'Barlow Condensed', sans-serif;
}

.li-link {
    display: flex;
    align-items: center;
    padding: 20px;
    font-size: 1.2em;
}

.Nav_link {
    color: rgb(11, 11, 11);
}

.li-bag:hover {
    font-size: 2em;
}
